<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="Master :: html_head">
<meta charset="utf-8" />
<title>AccountingDetail</title>
</head>

<body>
<div th:replace="Master :: html_header">
	
</div>
	<div id="layoutSidenav">
		<div id="layoutSidenav_nav" th:replace="Master :: html_side">
			
		</div>  
		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid px-4">
					<h2 class="mt-4">流水帳管理</h2>
					<ol class="breadcrumb mb-4">
						<li class="breadcrumb-item"><a th:href="@{AccountingList}">流水帳紀錄</a></li>
						<li class="breadcrumb-item active">流水帳管理</li>
					</ol>
				</div>
				
			</main>
		</div>
	</div>
</body>
</html>
