<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="Master :: html_head">
<meta charset="utf-8" />
<title>CategoryDetail</title>
</head>

<body>
<div th:replace="Master :: html_header">
	
</div>
	<div id="layoutSidenav">
		<div id="layoutSidenav_nav" th:replace="Master :: html_side">
			
		</div>  
		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid px-4">
					<h2 class="mt-4">流水帳分類管理</h2>
					<ol class="breadcrumb mb-4">
						<li class="breadcrumb-item"><a th:href="@{/CategoryList}">流水帳紀錄</a></li>
						<li class="breadcrumb-item active">流水帳分類管理</li>
					</ol>
				</div>
				<div class="container">
					<form th:action="@{/add}" th:object="${newCategory}"
						th:method="post">
						<table>
							<tr>
								<th>標題</th>
								<th style="color: red">※</th>
								<td><input type="text" th:field="*{CATEGORYNAME}" name="CATEGORYNAME"></td>
							</tr>
							<tr>
								<th class="cell_title">備註</th>
								<th></th>
								<td><textarea rows="5" cols="20" name="description"
										th:field="*{Body}" placeholder="Comment text"></textarea></td>
							</tr>
						</table>
						<table>
							<tr th:if="${validationError}"
								th:each="error : ${validationError}">
								<td style="color: red;" th:text="${error}"></td>
							</tr>
						</table>
						<p style="color:red" th:text="${renameMsg}" th:if="${not #strings.isEmpty(renameMsg)}"></p>
						<span th:each="i:${newCategory}">
						<input type="hidden" th:field="*{CATEGORYID}" th:if="${i.CATEGORYID != null}">
						<input type="hidden" th:field="*{CREATEDATE}" th:if="${i.CREATEDATE != null}">
						</span>
						<input type="hidden" th:value="${session.loginUser}" id="USERID" name="USERID">
						<br>
						<div class="btn_area_center">
							<input type="submit" value="save">
						</div>
					</form>
				</div>
			</main>
		</div>
		</div>
</body>
</html>
