<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="Master :: html_head">
<meta charset="utf-8" />
<title>UserDetail</title>

</head>
<style>
div.delete{
position: relative;
  bottom: 30px;
  left: 100px;
}
</style>
<body>
<div th:replace="Master :: html_header">
	
</div>
	<div id="layoutSidenav">
		<div id="layoutSidenav_nav" th:replace="Master :: html_side">
			
		</div>  
		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid px-4">
					<h2 class="mt-4">會員管理</h2>
					<ol class="breadcrumb mb-4">
						<li class="breadcrumb-item"><a th:href="@{/UserList}">管理者後台</a></li>
						<li class="breadcrumb-item active">會員管理</li>
					</ol>
				</div>
				<div class="container">
					<form th:action="@{/UserDetail/add}" th:object="${newUser}"
						th:method="post">
						<table th:each="i:${newUser}">
						    <tr>
								<th>帳號</th>
								<th style="color: red"  th:if="${i.REVISEDATE == null}">※</th>
								<th th:if="${i.REVISEDATE != null}"></th>
								<th th:text="${i.Account}" th:if="${i.REVISEDATE != null}"></th>
								<td>
								<input type="text" th:field="*{Account}" name="Account" th:if="${i.REVISEDATE == null}">
								<input type="hidden" th:field="*{Account}" name="Account" th:if="${i.REVISEDATE != null}" readonly="readonly">
								</td>
							</tr>
							<tr>
								<th>姓名</th>
								<th style="color: red">※</th>
								<td><input type="text" th:field="*{Name}" name="Name"></td>
							</tr>
							<tr>
								<th>Email</th>
								<th style="color: red">※</th>
								<td><input type="email" th:field="*{Email}" name="Email"></td>
							</tr>
							<tr>
								<th>等級</th>
								<th></th>
								<td class="form-group">
								<select th:field="*{USERLEVEL}">
										<option th:each="level : ${listLevel}" th:value="${level}"
											th:text="${level == '0'} ? '管理者' : '一般會員'"></option>
								</select>
								</td>
							</tr>
							<tr th:if="${i.CREATEDATE != null}">
								<th>建立時間</th>
								<th></th>
								<th th:text="${#temporals.format(i.CREATEDATE,'yyyy-MM-dd HH:mm:ss')}"></th>
								<td><input type="hidden" th:field="*{CREATEDATE}" readonly="readonly"></td>
							</tr>
							<tr th:if="${i.REVISEDATE != null}">
								<th>修改時間</th>
								<th></th>
								<th th:text="${#temporals.format(i.REVISEDATE,'yyyy-MM-dd HH:mm:ss')}"></th>
								<td><input type="hidden" th:field="*{REVISEDATE}" readonly="readonly"></td>
							</tr>
						</table>
						<table>
							<tr th:if="${validationError}"
								th:each="error : ${validationError}">
								<td style="color: red;" th:text="${error}"></td>
							</tr>
						</table>
						<p style="color:red" th:text="${renameMsgOfAccount}" th:if="${not #strings.isEmpty(renameMsgOfAccount)}"></p>
						<span th:each="i:${newUser}">
						<input type="hidden" th:field="*{ID}" th:if="${i.ID != null}">
						<input type="hidden" th:value="${newUUID}" id="ID" name="ID"  th:if="${i.ID == null}">
						</span>
						<input type="hidden" th:value="12345678" id="PWD" name="PWD">
						<br>
						<div class="btn_area_center">
							<input type="submit" value="save">
						</div>
					</form>
						<div class="delete"><a th:href="@{/UserList}" class="button"><button>delete</button></a></div>    
				</div>
			</main>
		</div>
	</div>
</body>
</html>
